body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.header-section {
  background-color:#e27d60;
  color: white;
}

.hero-section {
  background-image: url("../assets/images/holiday-globe.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 5rem;
}

span {
  color: #85DCB8;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-link {
  color: #85DCB8;
  transition: color 0.3s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
  color:#41A3B3;
}

.form-label {
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#flights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #e27d60;
  color: white;
  padding: 10px;
  font-size: 16px;
}

#back-to-top:hover {
  background-color: #d46353;
  transition: color 0.3s ease-in-out;
}

.footer-style{
  background-color: #eba18c;
}

.copyright{
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.footer-links{
  display: flex;
  justify-content: center space-around space-evenly;
  list-style: none;
  font-size: 25px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}