body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.header-section {
  background-color:#e27d60;
  color: white;
}

.hero-section {
  background-image: url("../assets/images/holiday-motor.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 5rem;
}

span {
  color: #85DCB8;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-link {
  color: #85DCB8;
  transition: color 0.3s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
  color:#41A3B3;
}
