body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.header-section {
  background-color: rgb(235, 141, 1);
  color: white;
}

.hero-section {
  background-image: url("../assets/images/holiday-motor.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 5rem;
  /* Add padding to center the content vertically */
}

span {
  color: gold;
  font-weight: bolder;
}

.nav-link {
  color: white;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: gold;
}

#books {
  display: flex;
  justify-content: flex-start;
}